.abc{
    display: flex;
    align-items: center;
    cursor: pointer;
        border: none;
        outline: none;
        color: white;
        font-weight: bold;
        margin-left: 15px;
    justify-content: center;
    border-bottom: 1px solid gray;
    object-fit: cover;
   
    flex-wrap: wrap;

    font-size: 18px;
    font-weight: 600;
    color: black;
    margin: 15px 0;
    white-space: nowrap;
    overflow-x: hidden ;
    text-overflow: ellipsis;
}